@tailwind base;
@tailwind components;
@tailwind utilities;

.employee-main-container{
  width: 60%;
}
.employeesubcontainer{
  width: 100%;
}

.blur{
  filter: blur(10px);
}

.pop__container{
  filter:blur(0px);
}
